<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yodlee Sample App</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v3/initialize.js'></script>
</head>
<body>

<header>
    <div class="header">
        <h1>Financial App</h1>
    </div>
</header>
<main>

    <div class="container bg-blur">
        <div>
            <h1>Welcome to Financial App</h1>
        </div>
        <ul class="activities">
            <li>
                <div class="item-header">
                    <h3>Link accounts</h3>
                </div>
                <div id="container-fastlink">
                    <div style="text-align: center;">
                        <input class="button" type="submit" id="btn-fastlink" value="Link an Account">
                    </div>
                </div>
            </li>
            <li>
                <div class="item-header">
                    <h3>View accounts</h3>
                </div>
                <div>
                    <input class="button" type="button" th:onclick="window.location.href='/accounts'" value="Show accounts" />
                </div>
            </li>
        </ul>
    </div>
</main>
<script th:inline="javascript">

    (function (window) {
      //Open FastLink
      var fastlinkBtn = document.getElementById('btn-fastlink');
      var tkn = [[${token}]]
      fastlinkBtn.addEventListener('click', function() {
        window.fastlink.open({
          fastLinkURL: 'https://node.sandbox.yodlee.uk/authenticate/uksandbox',
          accessToken: 'Bearer ' + tkn,
          params: {
            userExperienceFlow : 'Aggregation'
          },
          forceIframe: true,
          onSuccess: function (data) {
            console.log(data);
          },
          onError: function (data) {
            console.log(data);
          },
          onExit: function (data) {
            console.log(data);
          },
          onEvent: function (data) {
            console.log(data);
          }
        },
        'container-fastlink');
      },
      false);
    }(window));




</script>
</body>
</html>